body > div {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: nunito-sans, sans-serif, Helvetica, Arial;
}

body {
    background-color: #f0f0f0;
}

.header {
    height: 68px;
    display: flex;
    align-items: center;
    border: none;
    background-color: #ffffff;
}

.content {
    height: 970px;
    border-radius: 8px;
    width: 1250px;
    margin-left: 40px;
    margin-top: 15px;
    border: none;
}

.footer {
    height: 550px;
    margin-top: 30px;
    border: none;
    margin-bottom: 10px;
}
.space {
    width: 50px;
    height: 68px;
}

#logo {
    margin-bottom: 2px;
    padding-left: 40px;
}
#search {
    border: none;
    width: 490px;
    height: 40px;
    padding-left: 20px;
}

.search_box {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-left: 5px;
    width: 585px;
    height: 43px;
}

#search-btn {
    background-color: #c92127;
    width: 65px;
    height: 32px;
    position: absolute;
    top: 28px;
    right: 390px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.noti {
    width: 59px;
    height: 45px;
    margin-left: 15px;
}
.noti > div {
    font-size: 12px;
    text-align: center;
    color: #7a7e7f;
}

.noti > img {
    margin-left: 18px;
}

*:focus {
    outline: none;
}

.lang-switch {
    width: 70px;
    height: 40px;
    margin-left: 18px;
    border: 1px solid #cdcfd0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lang-switch > img {
    width: 37px;
    height: 40px;
}

.container {
    height: 530px;
    padding: 0 40px 20px;
}

#lineblock {
    height: 31px;
    background-color: #9fa7ab;
    -moz-border-top-left-radius: 8px;
    -moz-border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}

.c {
    width: 100% - 1px;
    height: 515px;
    margin-top: 0px;
    background-color: #ffffff;
    -moz-border-bottom-left-radius: 8px;
    -moz-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    border: 1px solid #9fa7ab;
}

.c1 {
    width: 390px;
    height: 375px;
    border-right: 1px solid #ccc;
    margin: 35px 8px 0px 8px;
    display: inline-block;
}

.logobottom {
    width: 389px;
    height: 50px;
    padding: 10px 20px;
}

.c1text {
    font-size: 13px;
    margin: 0px 10px 0px 20px;
    line-height: 1.5;
}

.bct {
    width: 389px;
    height: 30px;
    margin: 0px 10px 10px 20px;
}

.c1 > a {
    margin: 0px 0px 0px 15px;
}

.phone {
    margin: 10px 0px 0px 20px;
}

.phone > a {
    margin-right: 20px;
}
.c2 {
    width: 790px;
    height: 430px;
    float: right;
    margin: 35px 20px 0px 20px;
    text-align: left;
    font-size: 14px;
}

.c2 > table {
    width: 100%;
}
.c2 a {
    color: black;
    text-decoration: none;
    line-height: 2;
}

#contact1 {
    width: 75%;
    margin-bottom: 5px;
}

.line1 {
    display: grid;
    width: 100% - 50px;
    height: 77.5px;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin-right: 16px;
    grid-gap: 25px;
    padding-left: 50px;
    justify-items: center;
}

#line2 {
    grid-template-columns: repeat(5, 1fr);
    width: 100% - 50px;
    padding-left: 0;
}
.giayphep {
    width: 100% - 1px;
    margin-top: 66px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    align-content: center;
    padding: 10px;
    color: #adadad;
}

.gallery {
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: space-between;
}

.col1 {
    width: 840px;
    height: 100%;
    display: block;
    align-items: center;
}

.col2 {
    width: 392px;
    height: 100%;
}

#mot {
    margin-top: 5px;
}

.gallery img {
    border-radius: 8px;
}

.fourimg {
    width: 100%;
    height: 204px;
    margin-top: 20px;
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    gap: 15px;
}

.anh > img {
    height: 204px;
    border-radius: 8px;
}
.danhmuc {
    width: 100%;
    height: 260px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #ffffff;
}

.tddm {
    width: 100% - 30px;
    height: 65px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.tddm > span {
    font-size: 1.6em;
    font-weight: bold;
    color: #212121;
    letter-spacing: 0px;
    margin-left: 10px;
}

.dm {
    grid-template-columns: repeat(10, 1fr);
    display: grid;
    height: 175px;
    width: 100%;
    gap: 10px;
    margin-top: 15px;
}

.dmc {
    width: 113px;
    height: 100%;
}

.dmc img {
    height: 100px;
    margin-top: 10px;
}

.dmc > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dmc > span {
    margin-top: 10px;
    width: 100%;
    height: 55px;
    text-align: center;
    display: block;
}

#part1 {
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    height: 125px;
}

#part1 img {
    width: 50px;
    height: 50px;
}

#part1 span {
    height: 40px;
}
 .tva {
     display: none;
 }

 .col1 > a {
     width: 24px;
     height: 24px;
     border-radius: 50%;
     background-color: #ffffff;
     border: 1px solid #ccc;
     cursor: pointer;
     position: absolute;
     text-align: center;
     }

     .prev {
         top: 35%;
         left: 2.5%;
     }

     .next {
            top: 35%;
            right: 33.2%;
     }